.card{
    overflow: hidden;
    padding: 6px 8px 2px;
    position: relative;
    z-index: 10;
    background-color:#fff;
    padding: 10px;
    margin-bottom: 5px;
}

.card_label{
    overflow: auto;
    position: relative;
}

.list_card_title{
    word-wrap: break-word;
    clear: both;
    color: #172b4d;
    display: block;
    margin: 0 0 4px;
    overflow: hidden;
    text-decoration: none;
}

.card_label_color{
    float: left;
    font-size: 12px;
    font-weight: 700;
    height: 8px;
    line-height: 100px;
    margin: 0 4px 4px 0;
    max-width: 40px;
    min-width: 40px;
    padding: 0;
    text-shadow: none;
    width: auto;
    background-color: #0079bf;
    border-radius: 4px;
}

